@font-face {
  font-family: 'NauryzRedKeds';
  src: url('./fonts/NauryzRedKeds.woff2') format('woff2'),
       url('./fonts/NauryzRedKeds.woff') format('woff'),
       url('./fonts/NauryzRedKeds.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Floriselscript';
  src: url('./fonts/Floriselscript.woff2') format('woff2'),
       url('./fonts/Floriselscript.woff') format('woff'),
       url('./fonts/Floriselscript.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}